@import "../../common";

.box {
  padding: 0 rpx(40);

  .item {
    justify-content: space-between;
    display: flex;
    padding: rpx(20) 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    .name {
      font-size: rpx(32);
    }

    .name-content {
      font-size: rpx(32);
    }
  }
}

button {
  width: 80%;
  margin: 0 auto;
  background-color: #1A4681;
  color: #ffffff;
  font-size: rpx(32);
  border-radius: 0;
  margin-top: rpx(50);
}
