@import "../../common";

image {
  width: 100%;
}

.content {
  width: 100%;
  box-sizing: border-box;
  padding: rpx(30);

  .title {
    font-size: rpx(36);
  }
}

.watch {
  display: flex;
  align-items: center;
  color: #666;
  font-size: rpx(26);
  margin: rpx(15) 0;

  .icon {
    font-size: rpx(26);
  }

  view:last-child {
    margin-left: rpx(50);
  }
}

.content {
  color: #666666;
  font-size: rpx(28);
}

button {
  padding: 0;
  background: #FFFFFF;
  border-radius: 0;

  &::after {
    border: none;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  border-top: 1px solid #ccc;
  display: flex;
  height: rpx(100);
  background: #FFFFFF;

  view {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    color: #666;
  }

  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: rpx(5);
    flex: 1;
  }

  .share {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: rpx(5);
    flex: 1;
  }

  .cart {
    width: rpx(180);
    color: #FFFFFF;
    background: #ff9d00;
  }

  .pay {
    width: rpx(180);
    color: #FFFFFF;
    background: #ed4f50;
  }
}

.poster {
  position: fixed;
  top: 20%;
  left: 12%;
  z-index: 200;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 280px;

  background: #fff;
  padding: rpx(30) rpx(15);

  border-radius: rpx(10);

  .cvs {
    margin-bottom: rpx(15);
  }

  .poster_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: rpx(80);
    border-radius: rpx(80);

    color: #FFF;
    background: #385eff;
  }
}

.mu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: #000000;
}

.action-sheet-share {
  line-height: 1.35;
}
