@import "../../common";

//.cell-box {
//  padding: 0 rpx(30);
//  .cell {
//    box-sizing: border-box;
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    height: rpx(100);
//    border-bottom: 1px solid #eee;
//    font-size: rpx(28);
//    view {
//      flex: none;
//      width: rpx(180);
//      height: rpx(30);
//      text-align: justify;
//      text-align-last: justify;
//      &::after {
//        content: "";
//        display: inline-block;
//        width: 100%;
//      }
//    }
//    input {
//      flex: 1;
//      padding: 0 rpx(30);
//    }
//  }
//}

.cell-list {
  width: 95%;
  margin: rpx(30) auto;
  box-shadow: 0 0 rpx(30) 0 rgba(187, 187, 187, 0.5);
  border-radius: 10px;

  .arrow {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: calc(50% - #{rpx(8)});
      right: rpx(34);
      display: inline-block;
      height: rpx(16);
      width: rpx(16);
      border-width: rpx(4) rpx(4) 0 0;
      border-style: solid;
      border-color: #C0C0C0;
      transform: rotateZ(45deg);
    }
  }

  .cell {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: rpx(100);
    padding: rpx(30);
    border-bottom: 1px solid #eee;
  }

  .cell-image {
    height: auto;

    .addPhoto {
      width: rpx(200);
    }
  }

  .cell-name {
    flex: none;
    width: rpx(220);
    text-align: right;
  }

  .icon {
    width: rpx(50);
  }

  radio-group {
    radio {
      margin: 0 rpx(30);
    }
  }
}

.type-btn {
  display: flex;
  justify-content: center;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rpx(410);
    height: rpx(90);
    box-shadow: 0 0 rpx(16) 0 rgba(14, 47, 91, 0.5);
    border-radius: rpx(45);
    color: #ffffff;
    background-color: #1a4681;
  }
}

.save {
  width: rpx(360);
  height: rpx(80);
  margin: rpx(30) auto;
  line-height: rpx(80);
  text-align: center;
  color: #ffffff;
  background-color: $color;
}

